# =========================
# Go
# =========================

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# Test / coverage artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Go workspace
go.work
go.work.sum

# Dependencies
# vendor/

# Environment
.env


# =========================
# JavaScript / Node.js
# =========================

# Dependencies
node_modules/

# Build
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment
.env
.env.local
.env.*.local


# =========================
# IDE / Editors
# =========================

.idea/
.vscode/

# =========================
# OS
# =========================

.DS_Store
Thumbs.db
